* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll {
  height: 400vh;
}

.section {
  position: fixed;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3rem;
  pointer-events: none;
}
